.tourPage {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #ecf0f1;
}

.tour {
  width: 100%;
}

.tour__image-container {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.tour__image-container img {
  padding-top: 16px;
  padding-bottom: 16px;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text_medium {
  font-family: "Open Sans", "sans-serif";
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #303032;
}

.tour_name-guide_name,
.tour__rules {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 20px;
}

.guide__img-container {
  padding: 8px;
}

.guide__img-container img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.titles {
  font-size: 2rem;
}

.tour_description {
  border-top: 2px solid #8f8f97;
  margin: 16px 16px;
  padding: 8px;
}

.tour__posted {
  margin-bottom: 8px;
}

.Date {
  padding: 5px 20px;
  background-color: #303032;
  color: #ecf0f1;
  border-radius: 20px;
}

.buttons {
  margin: 8px;
}

.buttons:hover {
  transform: translateY(-7px);
}

@media (max-width: 560px) {
  .tour_name-guide_name {
    flex-direction: column;
  }
}
